plugin_key: "{{PLUGIN_KEY}}"
contract_version: "{{CONTRACT_VERSION}}"

device_roles:
  ENTRY_SENSOR:
    min_count: 1
    max_count: 1
    hardware_capabilities:
      - scan_item
    events:
      - event: ITEM_ARRIVED
        category: ENTRY_DEVICE
  MEASURE_DEVICE:
    min_count: 1
    max_count: 1
    hardware_capabilities:
      - measure_item
    commands:
      - MEASURE_ITEM

rack_positions:
  - code: ENTRY_POSITION
    role: ENTRY
    station_code: ENTRY_STATION
    carrier_capability:
      allowed_rack_kinds:
        - SINGLE_LAYER
      allowed_slot_kinds: []
      min_capacity: 1
      max_capacity: 1
  - code: MEASURE_POSITION
    role: WORK
    station_code: MEASURE_STATION
    carrier_capability:
      allowed_rack_kinds:
        - SINGLE_LAYER
      allowed_slot_kinds: []
      min_capacity: 1
      max_capacity: 1

topology:
  flow_edges:
    - from:
        kind: RACK_POSITION
        ref: ENTRY_POSITION
      to:
        kind: DEVICE_ROLE
        ref: ENTRY_SENSOR
      type: OPERATION
    - from:
        kind: DEVICE_ROLE
        ref: ENTRY_SENSOR
      to:
        kind: DEVICE_ROLE
        ref: MEASURE_DEVICE
      type: OPERATION
    - from:
        kind: DEVICE_ROLE
        ref: MEASURE_DEVICE
      to:
        kind: RACK_POSITION
        ref: MEASURE_POSITION
      type: OPERATION

resource_boundaries:
  - rack_position_code: MEASURE_POSITION
    rack_kind: SINGLE_LAYER
    business_demand_type: MEASURE_WORK_RACK
    wms_operation_type: SUPPLY_MEASURE_RACK
    snapshot_kind: ACTIVE_MEASURE_RACK
    lease_scope: STATION
